header{
  position:absolute;
  background-color: black;
  height: 60px;
  top: 0px;
  width: 100%;
}

.title{
  float: left;
  color: white;
  font-size: 25px;
  line-height: 60px;
  padding-left: 10px;
}

header ul{
   float: right;
   line-height: 40px;
}

header ul li{
  list-style: none;
  float: left;
  font-size: 15px;
  color: white;
  padding-right: 20px;
}

main{
  clear:both;
  
}

.main-box{
  width: 95%;
  margin: 0 auto; 
  margin-top:100px;
}

.left{
  float: left;
  width: 70%;
  height: 550px;
  margin-bottom: 40px ;
  background-color: lightblue;
}

.rigft{
  float: left;
  width: 30%;
  height: 550px ; 
  margin-bottom: 40px ;
  background-color: skyblue;
}

footer{
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: black;
  color: white;
  height: 60px;
  width: 100%;
  line-height: 50px;

}
